
#root{
    width: 350px;
    height: 200px;
    position: absolute;
    left:38%;
    top:15%;
    padding: 20px;
    border-radius: 10px;
    background: rgba(166, 173, 166, 0.486);
    box-shadow:rgba(7, 20, 101, 0.463) 0px 19px 38px, rgba(194, 8, 8, 0.432) 0px 15px 12px;;
}
.btns{
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}
h1{
    text-align: center;
    font-size: 50px;
}
button{
    padding: 10px;
    border-radius:10px ;
    border: 1px solid black;
    cursor: pointer;
    

/* CSS */

  background: #0f068b;
  border-radius: 999px;
  box-shadow: #191993 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;

}